/* CSS declarations go here */

* {
	box-sizing: border-box;
	transition:all 0.2s ease;
}

html, body {
	height: 100%;
	margin: 0;
}

.pongfield {
	position: relative;
	background-color: black;
	height: 100vh;
	width: 100%;
	padding: 20px;
}

.pongfield .field-background {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	background-color: #007dad;
}

.pongfield .ball {
	position: absolute;
	border-radius: 100%;
	background-color: brown;
	width: 25px;
	height: 25px;
	transform: translate3d(-50%, -50%, 0);
}

.pongfield .player {
	position: absolute;
	left: 20px;
	top: 50%;
	background-color: white;
	width: 20px;
	height: 20%;
}

.pongfield .player:last-child {
	right: 20px;
	left: auto;
}


#login-buttons {
	position: fixed;
	z-index: 1;

}
